html, body, #root{
  height: 100%;
}

.App {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; */
  margin-top: 10%;
}

.short-url{
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 40px;
  padding: 5px 14px;
  background-color: lightcyan;
  transition: all ease-in 0.1s;
  width: 100%;
}

.short-url:hover{
  background-color: cyan;
}